<mat-card appearance="outlined">
  <reserve-card
    (searchClicked)="searchAvailableSeats($event)"
    (searchClicked)="searchDayAvailableSeats($event)"></reserve-card>
  <ng-container *ngIf="status$ | async as status">
    <div *ngIf="searching">
      <availability-table [day_availability]="daySeatAvailability" />
      <reserve-availability-card
        [seat_availability]="seatAvailability"
        (seatsSelected)="reserve($event)" />
    </div>
  </ng-container>
</mat-card>
<mat-card appearance="outlined">
  <upcoming-reservations-card> </upcoming-reservations-card>
</mat-card>
